/*Default*/
html,
body {
    background-color: #242527;
    padding: 10px;
    margin: 0;
    padding: 0;
}

* {
    box-sizing: border-box;
}

ul, p{
    padding: 0;
    margin: 0;
    list-style: none;
}
/*Acima Default*/




img {
    max-width: 100%;
    display: block;
    border-radius: 5px;
}

.slide-wrapper{
    overflow: hidden;
    background-color: white;
    margin: 10px 0;
    padding: 4px;
}

.slide{
    display: flex;
}


.slide li{
    flex-shrink: 0;
    /*flex-shrink, os elementos, não diminuem seu tamanho, permanece com 80vw*/
    /*Fazendo com o q o elemento pai, aumente seu tamanho*/
    width: 80vw;
    max-width: 800px;
    margin: 0  20px;
    border-radius: 4px;
    overflow: hidden;
    box-shadow: 0 2px 4px rgba(0,0,0,.4);
    opacity: .8;
    transform: scale(.9);
    transition: .4s;
}



  
.slide .ativo {
    opacity: 1;
    transform: scale(1);
}