/*Default*/
html,
body {
    background-color: #242527;
    padding: 10px;
    margin: 0;
    padding: 0;
}

button{
    cursor: pointer;
}

* {
    box-sizing: border-box;
}

ul, p{
    padding: 0;
    margin: 0;
    list-style: none;
}
/*Acima Default*/




img {
    max-width: 100%;
    display: block;
    border-radius: 5px;
}

.slide-wrapper{
    overflow: hidden;
    max-width: 95%;
    border-radius: 3px;
    background-color: white;
    margin: 10px auto;
    padding: 10px 0;
}

.slide{
    display: flex;
}


.slide li{
    flex-shrink: 0;
    /*flex-shrink, os elementos, não diminuem seu tamanho, permanece com 80vw*/
    /*Fazendo com o q o elemento pai, aumente seu tamanho*/
    width: 80vw;
    max-width: 800px;
    margin: 0  20px;
    border-radius: 4px;
    overflow: hidden;
    box-shadow: 0 2px 4px rgba(0,0,0,.4);
    opacity: .8;
    transform: scale(.9);
    transition: .4s;
}

  
.slide .ativo {
    opacity: 1;
    transform: scale(1);
}

.arrow-nav{
    padding:15px;
    max-width: 99%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    border-radius: 3px;
}

button.prev, button.next{
    background: url('../img/arrow.svg') center center no-repeat;
    background-color:  #FB5;
    display: block;
    outline: 0px auto -webkit-focus-ring-color;/*tira bordar padrao chrome*/
    border: none;
    height: 50px;
    width:50px;
    border-radius: 2px;
    font-family: Arial, Helvetica, sans-serif;
}

button.prev{
    transform: rotate(-180deg);
}
button.prev:active{
    transform: rotate(-180deg);
}

button:active{
    background-color: bisque;
    transform: scale(1.03);
}

button.blocked{
    background-color: rgb(182, 182, 182);
    color: gray;
    cursor: default;
    opacity: 0.7;
}

button.blocked:active{
    transform: scale(1);
}


[data-control = "slide_btns"]{
    display: flex;
    justify-content: center;
    margin-top: 5px;
    padding:8px;
}

[data-control = "slide_btns"] a{
    display: block;
    width: 12px;
    height: 12px;
    background-color: #FB5;
    margin: 0 5px;
    border-radius: 50%;
    transition: .3s;
    text-decoration: none;
    box-shadow: 0px 2px 5px 0px #ccc;
    overflow: hidden;
    text-indent: -999px;
}

[data-control = "slide_btns"] a.ativo{
    background-color: #E5e;
}

[data-control = "slide_btns"] a:hover{
    background-color: #E5e;
}

[data-control = "slide_btns"] a:active{
    background-color: rgb(247, 167, 247);
    transform: scale(1.5);
}


/*/----*/

.custom_control{
    padding:5px;
    margin-top: 5px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.custom_control img{
    opacity: 0.8;
    height: 50px;
    width: 50px;
    margin: 0 5px;
    border: solid 2px black;
    border-radius: 50%;
    overflow: hidden;
    cursor: pointer;
    transform: scale(0.9);
}


.custom_control img.ativo{  
    opacity: 1;
    border: solid 2px #FB5;
    transform: scale(1);
    transition: .3s;
}

@media screen and (max-width: 600px) {
    .custom_control img{
        height: 45px;
        width: 45px;
        margin: 0 3px;
    }
  }